jb-button.candy-style {
  --jb-button-height: 2.5rem;
  --jb-button-padding: 0.5rem 1rem;
  --jb-button-border-radius: 999rem;
  --jb-button-font-size: 0.875rem;
  --jb-button-font-weight: 700;
  --jb-button-content-gap: 0.5rem;
  --jb-button-primary: var(--jb-focus-color);
  --jb-button-secondary: #8b5cf6;
  --jb-button-danger: #e11d48;
  --jb-button-color: var(--jb-text-contrast);
  --jb-button-border-color: #f9a8d4;
  --jb-button-border-width: 1px;
  --jb-button-box-shadow: 0 0.4rem 0.9rem rgb(236 72 153 / 0.18);
  --jb-button-bg-color-outline: #fff1f2;
  --jb-button-bg-color-outline-hover: #fce7f3;
  --jb-button-bg-color-outline-pressed: #fbcfe8;
  --jb-button-bg-color-ghost-hover: #fce7f3;
  --jb-button-bg-color-ghost-pressed: #fbcfe8;
  --jb-button-bg-color-text-hover: #fff1f2;
  --jb-button-bg-color-text-pressed: #fce7f3;
  --jb-button-disabled: #f9a8d4;
  --jb-button-color-disabled: #831843;
}

jb-button.candy-style[color="light"] {
  --jb-button-color: #831843;
  --jb-button-color-hover: #9d174d;
  --jb-button-color-pressed: #831843;
  --jb-button-border-color: #f9a8d4;
  --jb-button-bg-color-hover: #fce7f3;
  --jb-button-bg-color-pressed: #fbcfe8;
}

jb-button.candy-style svg {
  width: var(--jb-button-icon-size);
  height: var(--jb-button-icon-size);
}
