jb-button.material-style {
  --jb-button-padding: 0 1.5rem;
  --jb-button-border-radius: 1.25rem;
  --jb-button-font-size: 0.875rem;
  --jb-button-font-weight: 500;
  --jb-button-content-gap: 0.5rem;
  --jb-button-primary: var(--jb-primary);
  --jb-button-secondary: var(--jb-secondary);
  --jb-button-danger: var(--jb-error);
  --jb-button-color: var(--jb-on-primary);
  --jb-button-border-color: transparent;
  --jb-button-border-width: 1px;
  --jb-button-box-shadow: none;
  --jb-button-bg-color-outline: transparent;
  --jb-button-bg-color-outline-hover: var(--jb-state-hover);
  --jb-button-bg-color-outline-pressed: var(--jb-state-pressed);
  --jb-button-bg-color-ghost-hover: var(--jb-state-hover);
  --jb-button-bg-color-ghost-pressed: var(--jb-state-pressed);
  --jb-button-bg-color-text-hover: var(--jb-state-hover);
  --jb-button-bg-color-text-pressed: var(--jb-state-pressed);
  --jb-button-border-color-hover: transparent;
  --jb-button-border-color-pressed: transparent;
  letter-spacing: 0.00625rem;
}

jb-button.material-style[color="light"] {
  --jb-button-color: var(--jb-text-primary);
  --jb-button-color-hover: var(--jb-primary);
  --jb-button-color-pressed: var(--jb-primary-pressed);
  --jb-button-border-color: var(--jb-outline);
  --jb-button-bg-color-hover: var(--jb-state-hover);
  --jb-button-bg-color-pressed: var(--jb-state-pressed);
}

jb-button.material-style[color="secondary"] {
  --jb-button-secondary: var(--jb-secondary-container);
  --jb-button-color: var(--jb-on-secondary-container);
}

jb-button.material-style[color="danger"] {
  --jb-button-color: var(--jb-on-error);
}

jb-button.material-style:state(disabled) {
  --jb-button-disabled: var(--jb-surface-container-highest);
  --jb-button-color-disabled: var(--jb-text-disabled);
  --jb-button-box-shadow: none;
}

jb-button.material-style[variant="outline"] {
  --jb-button-border-color: var(--jb-outline);
  --jb-button-border-color-hover: var(--jb-outline);
  --jb-button-border-color-pressed: var(--jb-outline);
}

jb-button.material-style svg {
  width: var(--jb-button-icon-size);
  height: var(--jb-button-icon-size);
}
